<div ngbDropdown class="d-inline-block ml-2">
    <button class="btn btn-primary btn-sm" id="dropdownMenuButton" ngbDropdownToggle>
        <i class="ri-calendar-2-line align-middle"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <button *ngFor="let range of dateRanges" class="dropdown-item btn-sm" (click)="setDateRange(range)">
            <b>{{ range.label }}</b><br>
            <small class="text-muted">{{ range.subLabel }}</small>
        </button>
    </div>
</div>